<div class="flexcol" style="gap: 5px;">
    <div class="form-group">
        <label>Template Name</label>
        <div class="form-fields">
            <input type="text" name="name">
        </div>
    </div>
    <div class="form-group">
        <label>Description</label>
        <div class="form-fields">
            <input type="text" name="description">
        </div>
        <p class="hint">(optional)</p>
    </div>
    <div class="form-group">
        <label>Image</label>
        <div class="form-fields">
            <file-picker name="img" type="image" value="{{defaultImg}}"></file-picker>
        </div>
        <p class="hint">(optional)</p>
    </div>
</div>